.createUser {
  color: aliceblue;
  font-size: medium;
  text-align: center;
}

.createUser:hover {
  text-decoration: underline;
}

.text__theme {
  color: #5f6a7d !important;
}

.title__theme {
  font-weight: 300;
  color: #2e3b4e;
}
