.container {
  background: white;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding-top: 1%;
  padding-bottom: 1%;
  overflow-y: scroll !important;
}
