.loginDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.backgroundDiv {
    min-height: 100vh;
    margin: 0;
    background: #048ccc;
    background: linear-gradient(to bottom, #048ccc 0%, #04528d 100%);
}

.wrapperDiv {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    flex-direction: column;
}

.titleDiv {
    background-color: rgb(0,76,114);
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
}

.footerDiv {
    padding-top: 2%;
    background-color: rgb(0,76,114);
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
